@model List<InForno.Models.VM.CartVM>

@{
    ViewData["Title"] = "Carrello";
}

<h2>Carrello</h2>

@if (Model == null || !Model.Any())
{
    <p>Il carrello è vuoto.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Prodotto</th>
                <th>Quantità</th>
                <th>Prezzo</th>
                <th>Totale</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>@item.ProductPrice.ToString("C")</td>
                    <td>@((item.ProductPrice * item.Quantity).ToString("C"))</td>
                    <td>
                        <form asp-action="RemoveProductFromCart" method="post">
                            <input type="hidden" name="ProductId" value="@item.ProductId" />
                            <button type="submit" class="btn-danger btn-sm"><i class="fas fa-trash "></i></button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right"><strong>Totale:</strong></td>
                <td colspan="2">@Model.Sum(item => item.ProductPrice * item.Quantity).ToString("C")</td>
            </tr>
        </tfoot>
    </table>
    <a asp-action="CheckOrder" class="btn btn-success">Procedi all'ordine</a>
}