@model List<InForno.Models.VM.CheckOrderVM>

@{
    ViewData["Title"] = "Riepilogo Ordine";
}

<h2>Riepilogo Ordine</h2>

<table class="table">
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Quantità</th>
            <th>Prezzo</th>
            <th>Totale</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Quantity</td>
                <td>@item.ProductPrice.ToString("C")</td>
                <td>@item.TotalPrice.ToString("C")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><strong>Totale:</strong></td>
            <td>@Model.Sum(item => item.TotalPrice).ToString("C")</td>
        </tr>
    </tfoot>
</table>

<form asp-action="AddOrder" method="post">
    <div class="form-group">
        <label for="Address">Indirizzo</label>
        <input type="text" class="form-control" id="Address" name="Address" required />
    </div>
    <div class="form-group">
        <label for="Note">Note</label>
        <textarea class="form-control" id="Note" name="Note">N/D</textarea>
    </div>
    <button type="submit" class="btn btn-success">Conferma Ordine</button>
</form>
