@model List<InForno.Models.Order>

@{
    ViewData["Title"] = "I Miei Ordini";
}

<h2>I Miei Ordini</h2>

@if (!Model.Any())
{
    <p>Non hai ancora effettuato nessun ordine.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model[0].DateTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model[0].Note)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => order.DateTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => order.Note)
                    </td>
                    <td>
                        <a asp-action="OrderDetails" asp-route-orderId="@order.OrderId" class="btn btn-info">Dettagli</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}